<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" >
    <link rel="stylesheet" href="sheet.css">
    <title>Acceuil</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">GED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href=index.html>Acceuil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/afficherDoc">Vos documents</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ajouterDoc">Ajouter un document</a>
                    <a class="dropdown-item" href="/telechargerDoc">Télécharger un document</a>
                    <a class="dropdown-item" href="/supprimerDoc">Supprimer un document</a>
                    <a class="dropdown-item" href="/visualiserDoc">visualiser un document</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/doc">Multiple actions</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mailto:aymanemoussa0@gmail.com?Subject=Contact">Contacter Nous</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/login?logout" th:href="@{/logout}">Déconnecter</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/search}" th:method="get">
            <input class="form-control mr-sm-2" id="txtSearch" name="keyword" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container my-2"  >
    <br>
    <h1> Listes des documents : </h1>
    <br><br><br>
    <table class="table table-striped" >

        <thead>
        <tr>
            <th>Id</th>
            <th> Nom de document </th>
            <th>Versioning</th>
            <th>Version des documents</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doc:${docs}">
            <td th:text="${doc.id}">  </td>
            <td th:text="${doc.docName}">  </td>
            <td>
                <form id="uploadFiles" name="uploadFiles" method="POST" th:action="@{'/versioning/'+${doc.id}}" encType="multipart/form-data" >
                    <!-- multiple is optional if u want to upload multiple files at once -->
                    <input type="file" name="files"  multiple required  style="display: inline-block"/>
                    <button class="btn btn-primary" type="submit" style="display: inline-block"> Ajouter </button>
                </form>
            </td>
            <td><a th:href="@{'/docVer/'+${doc.id}}" >
                <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"style="align-content: center">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>